<div class="container">
    <aside class="pb-5 pt-5" style="background-color: transparent">
        <div class="bg-light">
            <div class="row animate-box text-center d-flex align-items-center justify-content-center">
                <div id="col1" class="col-sm-12 col-lg-7 pb-5 d-flex align-items-center justify-content-center">
                    <div>
                        <h1 class="pb-3" style="font-size: 4em;"><strong><span style="color: #13A1DC">Ballhausen</span> Ingeniería</strong></h1>
                        <h3 id="dos" class="pb-3" style="color: #424240; font-size: 1.8em;"><strong>
                            Nuestra solución va más allá de lo convencional. Exploramos nuevas perspectivas y enfoques
                            para abordar los desafíos.
                        </strong></h3>
                        <h4 id="tres" style="color: #7B7B7B; font-size: 1.5em;"><strong>
                            !Optimiza tus <span style="color: #13A1DC">procesos</span>,  aumenta tu <span
                            style="color: #13A1DC">productividad </span> y reduce
                            <span style="color: #13A1DC">costos</span> en tus lineas de produción!<br></strong>
                        </h4>
                    </div>
                </div>
                <div id="Carrusel" class="col-sm-12 col-lg-4 carousel slide" data-bs-ride="carousel">
                    <img src="assets/images/kit.webp" alt="" style="max-width: 100%;">
                    <!-- <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/images/c1.webp" class="d-block" alt="Imagen 1" style="height: 73vh" />
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/c2.webp" class="d-block" alt="Imagen 2" style="height: 73vh" />
                        </div>
                        "
                        <div class="carousel-item">
                            <img src="assets/images/c3.webp" class="d-block" alt="Imagen 3" style="height: 73vh" />
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/c4.webp" class="d-block" alt="Imagen 4" style="height: 73vh" />
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/c5.webp" class="d-block" alt="Imagen 5" style="height: 73vh" />
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#miCarrusel" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#Carrusel" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </a> -->
                </div>
            </div>
        </div>
    </aside>
</div>