<div class="container" style="margin-top: -30px;">
    <aside class="pb-5 pt-5" style="background-color: transparent;">
        <div class="bg-light" style=" box-shadow: 7px 7px 11px 0 rgba(20, 20, 20, 0.3);">
            <div id="rowconte" class="row manimate-box text-center justify-content-center">
                <div id="colconte" class="col-sm-12 col-lg-12">
                    <div>
                        <img id="balhaus" src="assets/images/bi.png" alt="BI" style="height: 100px;">
                    </div>
                </div>
                <div id="colconte1" class="col-sm-12 col-lg-12">
                    <div>
                        <h5>
                            Con 13 años de experiencia, nuestro equipo se especializa en desarrollo de tecnología en
                            líneas de producción.
                            Lo conforma maestros y doctores de diferentes especialidades, hemos trabajado en sectores
                            clave como:
                            Petróleo y Gas, Energía, Espacio y Defensa Militar, Farmacéutico, Manufactura y Transporte.
                            Utilizando estándares internacionales.
                            En BI Poseemos habilidades científicas y tecnológicas avanzadas, lo que nos permite entender
                            a fondo el
                            mercado y ofrecer soluciones innovadoras para nuestros clientes.
                        </h5>
                    </div>
                </div>
                <div id="colconte2" class="col-sm-12 col-lg-5">
                    <h5 style="font-size: 25px;">
                        En esta trayectoria, hemos llevado a cabo proyectos de ingeniería con varios clientes,
                        incluyendo algunos de gran importancia y renombre.
                    </h5>
                </div>
                <div id="colconte3" class="col-sm-12 col-lg-7 mb-5" style="margin-top: -30px; margin-left: -50px;">
                    <img class="colors" src="assets/images/alstom.webp" alt="" height="50px">
                    <img class="colors" src="assets/images/GruJumex.webp" alt="" height="50px"><br>
                    <img class="colors" src="assets/images/Thyssenkrupp.webp" alt="" height="120px">
                    <img class="colors" src="assets/images/IMP.webp" alt="" height="150px"><br>
                    <img class="colors" src="assets/images/westrock.webp" alt="" height="50px">
                    <img class="colors" src="assets/images/eiqsa.webp" alt="" height="50px">
                </div>
                <div id="colconte4" class="col-sm-12 col-lg-12">
                    <h5>
                        Estamos alineados con la norma ISA-95, que representa la pirámide de automatización. Su
                        propósito es permitir la comunicación efectiva entre las funciones empresariales y los sistemas
                        de control en planta, reduciendo riesgos y costos asociados con la interfaz entre estos
                        sistemas1.
                    </h5>
                </div>
                <div id="piram" class="pb-4">
                    <img id="piramide" src="assets/images/piramideWeb.webp" alt="" style="height: 400px; width: 600px;">
                </div>
            </div>            
        </div>
    </aside>
</div>