<div class="container">
    <div class="row">
        <div class="col-6">
            <div style="display: flex; align-items: center; justify-content: center; ">
                <h3 style="font-size: 25px;">Linked Ballhausen Ingeniería</h3><br>
            </div>
            <div class="mb-3" style="display: flex; align-items: center; justify-content: center; "> 
                
                <qrcode [qrdata]="'https://www.linkedin.com/company/ballhausening/'" [width]="156" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
        <div class="col-6">
            <div style="display: flex; align-items: center; justify-content: center; ">
                <h3 style="font-size: 25px;">Facebook Ballhausen Ingeniería</h3><br>
            </div>
            <div class="mb-3" style="display: flex; align-items: center; justify-content: center; "> 
                
                <qrcode [qrdata]="'https://www.facebook.com/BallhausenIng?mibextid=9R9pXO'" [width]="156" [errorCorrectionLevel]="'M'"></qrcode>
            </div>
        </div>
    </div>
</div>
