<div class="container" style="margin-top: -30px;">
    <aside class="pb-5 pt-5" style="background-color: transparent;">
        <div class="bg-light" style=" box-shadow: 7px 7px 11px 0 rgba(20, 20, 20, 0.3);">
            <div id="rowconte" class="row manimate-box text-center justify-content-center">                
                <div id="colconte1" class="col-sm-12 col-lg-12 pt-3 bg-info"> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi soluta nostrum unde, aspernatur laudantium cumque nihil optio. Sed quae at non laborum expedita qui nobis totam harum hic accusamus?</p>                  
                </div>
                <div id="colconte1" class="col-sm-6 col-lg-6 pb-3 pt-3 bg-primary">
                    <img src="assets/images/sustainabilityn.webp" alt="" style="max-width: 100%;">                    
                </div>
                <div id="colconte1" class="col-sm-6 col-lg-6 pt-3 bg-danger"> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eveniet, commodi culpa delectus eum possimus obcaecati itaque amet repellendus modi, iusto, ad sapiente labore necessitatibus impedit recusandae magni a aspernatur.</p>                   
                </div>
                <div id="colconte1" class="col-sm-6 col-lg-6 pt-3 bg-danger"> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eveniet, commodi culpa delectus eum possimus obcaecati itaque amet repellendus modi, iusto, ad sapiente labore necessitatibus impedit recusandae magni a aspernatur.</p>                   
                </div>
                <div id="colconte1" class="col-sm-6 col-lg-6 pb-3 pt-3 bg-primary">
                    <img src="assets/images/sustainabilityn.webp" alt="" style="max-width: 100%;">                    
                </div>
                <div id="colconte1" class="col-sm-6 col-lg-6 pb-3 pt-3 bg-primary">
                    <img src="assets/images/sustainabilityn.webp" alt="" style="max-width: 100%;">                    
                </div>
                <div id="colconte1" class="col-sm-6 col-lg-6 pt-3 bg-danger"> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt eveniet, commodi culpa delectus eum possimus obcaecati itaque amet repellendus modi, iusto, ad sapiente labore necessitatibus impedit recusandae magni a aspernatur.</p>                   
                </div>
                <div id="colconte1" class="col-sm-12 col-lg-12 pt-3 bg-info"> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi soluta nostrum unde, aspernatur laudantium cumque nihil optio. Sed quae at non laborum expedita qui nobis totam harum hic accusamus?</p>                  
                </div>
            </div>
        </div>
    </aside>
</div>
